.match-data{
    display: flex;
    justify-content: space-between;
    margin: 4rem;
}
.data-container{
    display: flex;
    flex-direction: column;
    width: 60vw;
}
.data{
    display: flex;
    justify-content: space-between;
}
.match-sidebar{
    border: 1px solid #a52125;
    padding: 2rem;
}
.hero-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 325px;
}
.hero-image{
    height: 200px;
    object-fit: contain;
    margin: 2rem 0 2rem 0;
}