.win{
    color: limegreen;
}
.loss{
    color: red;
}
.result{
    display: flex;
    flex-direction: row;
}
td{
    position: relative;
    align-items: center;
}
tr:hover{
    background-color: rgb(41, 39, 40);
}
.match-history-friends{
    font-weight: 200;
    font-size: 18px;
}

