.friend-container{
    min-width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: 1px solid #a52125;
}
.friend-container:hover{
    background-color: rgb(61, 58, 59);
}