.match-history{
    display: flex;
    flex-direction: column;
    align-items: center;
}
table{
    margin-top: 3rem;
    border: 1px solid #a52125;
    width: 80vw;
}
.match-table{
    width: 80vw !important;
}
