.friend-hero-box{
    margin-right: 12rem;
    display: flex;
    justify-content: center;
    margin-top: 165px;
    border: 1px solid #a52125;
    width: 400px;
    height: 500px;
}
.new-comment-button{
    background-color: #89191c;
    color: #f6d0d1;
}
.new-comment-button:hover{
    background-color: #f6d0d1;
    color: #89191c;
}