.player-stats{
    display: flex;
    justify-content: space-between;
}
.account-name{
    margin: 4rem 2rem;
}
.account-info{
    display: flex;
    flex-direction: column;
    width: 55vw;
    height: 70vh;
    margin-left: 2rem;
    margin-bottom: 2rem ;
}
.account-info-body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.account-info-header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.time-selector{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.header-box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    border: 1px solid #a52125;
}
.sidebar{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem 0 0;
    width: 375px;
}
.pressed{
    color: #f6d0d1;
    background-color: #89191c;
}
.friends-label{
    margin-bottom: 53px;
    height: 48px;
}
.hero-box{
    display: flex;
    justify-content: center;
    margin-top: 165px;
    border: 1px solid #a52125;
    width: 400px;
    height: 500px;
}
.top-hero{
    margin-top: 75px;
    width: 250px;
    height: 250px;
}
.top-hero-img{
    width: 250px;
    height: 250px;
    object-fit: contain;
}
.top-hero-name{
    padding: 5px;
    position: relative;
    justify-content: center;
    bottom: 40px;
    display: none;
    background-color: rgba(46, 43, 44, 0.548);
}
.top-hero:hover .top-hero-name{
    display: flex;
    
}
.account-page-comments{
    background-color: rgba(128, 128, 128, 0.274);
    padding: 2rem;
    margin:2rem 2rem 0 2rem;
    display: flex;
    flex-direction: column;
    text-shadow: 2px 1px rgb(46, 43, 44);;
}
.account-comment-header{
    padding-bottom: 2rem;
}
.bottom-padding{
    padding-bottom: 4rem;
}
