.account-page{
    display: flex;
    justify-content: space-between;
}
.account-name{
    margin: 4rem 2rem;
}
.account-info{
    display: flex;
    flex-direction: column;
    width: 55vw;
    height: 70vh;
    margin-left: 2rem;
    margin-bottom: 2rem ;
}
.account-info-body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.account-info-header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.time-selector{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.header-box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    border: 1px solid lightgray;
}
.sidebar{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem 0 0;
}